<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827144828772-nqla9n5gjbc9eooc1nhc34cefbp40mlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827144828772-nqla9n5gjbc9eooc1nhc34cefbp40mlp</string>
	<key>API_KEY</key>
	<string>AIzaSyDA5SeAmRWa4LX8ZM3xRYxUENQiPe-6kyA</string>
	<key>GCM_SENDER_ID</key>
	<string>827144828772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esp.isus</string>
	<key>PROJECT_ID</key>
	<string>i-sus-b71e7</string>
	<key>STORAGE_BUCKET</key>
	<string>i-sus-b71e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827144828772:ios:6391e3006d0356fc262c71</string>
	<key>DATABASE_URL</key>
	<string>https://i-sus-b71e7.firebaseio.com</string>
</dict>
</plist>